/* src/styles/main.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    width: 100vw;
    height: 100vh;
}

/* Добавьте дополнительные стили по необходимости */